body{
	background:url(background.jpg)no-repeat;
	background-size:cover;
	margin: 0;
}
.menu{
	width:100%;
	background:#142b47;
	overflow:auto;
}
.menu ul{
		margin:o;
		padding:0;
		list-style:none;
		line-height:20px;
	}
.menu li{
		float:left;
	}
.menu ul li a{
		background:#142b47;
		text-decoration:none;
		width:130px;
		display:block;
		text-align:center;
		color:#f2f2f2;
		font-size:18px;
		font-family:sans-serif;
		letter-spacing:0.5px;

	}
.menu li a:hover {
		color:#fff;
		opacity:0.5;
		font-size:19px;

	}
.search0form{
		margin-top:15px;
		float:right;
		margin-right:100px;
	}
.input[type=text]{
		padding:7px;
		border:none;
		font-size:16px;
		font-family:sens-serif;

	}
button{
		float:roght;
		background:gray;
		color:white;
		border-radius: 0 5px 5px 0;
		cursor: pointer;
		position:relative;
		margin:px auto;
		height:22px;
		font-family:sens-serif;
		border:none;
		relative:absolute;
		font-size:16px;
	}
	h1{color:white;}


.footer{
	width:100%;
	background:#00121b;
	display:block;

}
.inner-footer{
	width:95%;
	margin:auto;
	padding:30px 10px;
	display:flex;
	flex-wrap:wrap;
	box-sizing:border-box;
	justify-content:center;

}
.footer-items{
	width:25%;
	padding:10px 20px;
	box-sizing:border-box;

}

h1{
	padding:10px 0;
	font-size:25px;
	color:#fff;
	text-transform:none;
}

.footer-items p{
	color:gray;
	font-size:16px;
	text-align:justify;
	line-height:25px;
}
h2{
	margin:10px 0;
	color:gray;
	font-size:16px;
	font-weight:lighter;
	text-transform:uppercase;
}
.border{
	height:2px;
	width:40px;
	background:#ff9800;
}
ul{
	list-style:none;
	color:#fff;
	font-size:15px;
	letter-spacing:0.5px;
}
ul a{
	text-decoration:none;
	outline:none;
	color:#fff;
	transition:0.3s;
}
ul a:hover{
	color:#ff9800;
}
ul li {
	margin:10px;
	height:30px;
}
li i {
	margin-right:10px;
}
.social-media{
	width:100%;
	color:#fff;
	text-align:center;
}
.social-mieda {
	text-decoration:none;
}
.social-mieda i {
	height:15px;
	width:15px;
	margin: 20px 5px;
	padding:10px;
	color:#fff;
	border-radius:50%;
	border: 1px solid grey;
	transition:0.3s;
}
.social-mieda i:hover {
	background: grey;
}
.footer-bottom{
	padding:10px;
	background: #3d545f;
	color:#fff;
	font-size:12px;
}
.copy-right{
	padding:10px;
	background:#3d545f;
	color:#fff;
	font-size:12px;
}
@media screen and (max-width:1085px){
	.footer-items{
		width:50%;
	}
}
@media screen and (max-width:600px){
	.footer-items{
		width:100%;
	}
}
